.singel-product-details .row{
    margin-bottom: 20px;
}

.singel-product-details .img{
    width: 100%;
}
.singel-product-details .text{
    width: 100%;
}
.singel-product-details h1{
    font-weight: lighter;
    font-size: 70px;
    padding-bottom: 5px;
    margin: 5px;
   
}
.singel-product-details .text p{
    font-size: 120%;
    color: rgb(107, 112, 112);
    padding: none;
    margin: 5px;
}
.singel-product-details span.name{
    color: rgb(153, 58, 74);  
    font-size: 20px;
}

.singel-product-details .price{
    margin: 15px 0px;
}

.singel-product-details #price-sale{
    color: rgb(153, 58, 74);
    font-size: 30px;
    margin-left: 15px;
}
.singel-product-details #price-line-through{
    text-decoration: line-through;
    color: rgb(161, 159, 158);
    font-size: 23px;
}
.singel-product-details .button{
    background-color: rgb(114, 31, 45);
    border: none;
    color: white;
    padding: 7px 15px;
    text-align: center;
    font-size: 20px;
    margin-left: 15px;
}
.singel-product-details .quantity{
    background-color: #f3f0ef;
    border: 0;
    width: 80px;
    height: 42px;
    padding: 7px;
    text-align: center;
    font-size: 15px;
    text-indent: 10px;
}

.singel-product-details .list-group{
    flex-direction: row;
    width: 40%;
}
.singel-product-details .list-group-item {
    background-color: #fff;
    border: none;
    font-size: 30px;
    color: #898989;
}

.singel-product-details .list-group-item:hover{
    color: #000;
}
.singel-product-details a.active{
    color: #000;
}

.singel-product-details .table-row {
    font-size: 20px;
    margin: 20px 7px;
    border-bottom: 1px solid #eee;
}

.singel-product-details span.content{
    color: #76323f;
}

.singel-product-details span.title{
    display: inline-block;
    width: 25%;
    padding: 7px 0px;
}

.cmt-list-item{
    border-bottom: 1px solid #f3f0ef;
    margin-left: 7px;
    padding-bottom: 30px;
    padding-top: 10px;
}

.cmt-item{
    display: flex;
}

.cmt-list-item img{
    border-radius: 50%;
    background-clip: padding-box;
}

.cmt-item-img {
    width: 12%;
}

.cmt-username {
    font-size: 20px;
    font-weight: 600;
}

.cmt-time {
    color: #888;
}

.cmt-text {
    font-size: 19px;
    color: #555;
    margin-top: 7px;
}
.review-title{
    font-size: 30px;
}
.text-note{
    font-size: 17px;
    color: #888;
}
.review-text{
    padding-top: 30px;
}
.review-text textarea{
    background-color: #f3f0ef;
    padding: 10px;
}
.review-text textarea:focus{
    outline: 0;
}
.review .button{
    float: right;
}
.slq-title {
    margin: 17px;
    font-size: 30px;
}
ul.cmt-list {
    list-style: none;
}

.singel-product-details a{
    text-decoration: none;
    color: #333;
}
.singel-product-details a:hover{
    text-decoration: none;
    color: #76323f;
}
