.singel-product-details .row{
    margin-bottom: 20px;
}

.singel-product-details .img{
    width: 100%;
}
.singel-product-details .text{
    width: 100%;
}
.singel-product-details h1{
    font-weight: lighter;
    font-size: 70px;
    padding-bottom: 5px;
    margin: 5px;
   
}
.singel-product-details .text p{
    font-size: 120%;
    color: rgb(107, 112, 112);
    padding: none;
    margin: 5px;
}
.singel-product-details span.name{
    color: rgb(153, 58, 74);  
    font-size: 20px;
}

.singel-product-details .price{
    margin: 15px 0px;
}

.singel-product-details #price-sale{
    color: rgb(153, 58, 74);
    font-size: 30px;
    margin-left: 15px;
}
.singel-product-details #price-line-through{
    text-decoration: line-through;
    color: rgb(161, 159, 158);
    font-size: 23px;
}
.singel-product-details .button{
    background-color: rgb(114, 31, 45);
    border: none;
    color: white;
    padding: 7px 15px;
    text-align: center;
    font-size: 20px;
    margin-left: 15px;
}
.singel-product-details .quantity{
    background-color: #f3f0ef;
    border: 0;
    width: 80px;
    height: 42px;
    padding: 7px;
    text-align: center;
    font-size: 15px;
    text-indent: 10px;
}

.singel-product-details .list-group{
    flex-direction: row;
    width: 45%;
}
.singel-product-details .list-group-item {
    background-color: #fff;
    border: none;
    font-size: 27px;
    color: #898989;
}

.singel-product-details .list-group-item:hover{
    color: #76323f;
}
.singel-product-details a.active{
    color: #76323f;
}

.singel-product-details table{
    width: 50%;
    margin-left: 7px;
}
.singel-product-details tr{
    border-bottom: 1px solid #eee;
    width: 100%;
    font-size: 18px;
}
.singel-product-details td{
    color: #76323f;
    font-size: 20px;
}



